{% extends "base.html" %}
{% load i18n static %}

{% block title %}Buku{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>
<script src="{% static 'datatables/model.js' %}"></script>
<script type="text/javascript">
    // translations for datatables

    var dt_language = {
        "emptyTable": "{% trans 'Tidak ada data yang tersedia di tabel' %}",
        "info": "{% trans 'Menampilkan _START_ sampai _END_ dari _TOTAL_ entri' %}",
        "infoEmpty": "{% trans 'Menampilkan 0 sampai 0 dari 0 entri' %}",
        "infoFiltered": "{% trans '(Menyaring dari _MAX_ total entri)' %}",
        "infoPostFix": "",
        "thousands": ",",
        "lengthMenu": "{% trans 'Menampilkan _MENU_ entri' %}", //masih salah
        "loadingRecords": "{% trans 'Memuat...' %}",
        "processing": "{% trans 'Sedang diproses...' %}",
        "search": "{% trans 'Cari:' %}",
        "zeroRecords": "{% trans 'Tidak ditemukan baris yang cocok' %}",
        "paginate": {
            "first": "{% trans 'Pertama' %}",
            "last": "{% trans 'Terakhir' %}",
            "next": "{% trans 'Selanjutnya' %}",
            "previous": "{% trans 'Sebelumnya' %}"
        },
        "aria": {
            "sortAscending": "{% trans ': pengurutan dari yang terkecil ke yang terbesar' %}",
            "sortDescending": "{% trans ': pengurutan dari yang terbesar ke yang terkecil' %}"
        }
    }
</script>
{% endblock %}
{% block content %}
<div class="modal fade" id="tambahData" tabindex="-1" aria-labelledby="tambahDataLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tambahDataLabel"><b>Form | </b>Tambah Data</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="post-form" action="./buku/create" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <label for="judul" class="form-label">Judul</label>
                        <input type="text" name="judul" id="judul" class="form-control"
                            aria-describedby="judulHelpBlock" maxlength="30" required>
                        <div id="judulHelpBlock" class="form-text d-none">
                            Maksimal panjang karakter adalah 30.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="jumlah-halaman" class="form-label">Jumlah Halaman</label>
                        <input type="number" name="jumlah_halaman" id="jumlah-halaman" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="penerbit" class="form-label">Penerbit</label>
                        <input type="text" name="penerbit" id="penerbit" class="form-control"
                            aria-describedby="penerbitHelpBlock" maxlength="30" required>
                        <div id="penerbitHelpBlock" class="form-text d-none">
                            Maksimal panjang karakter adalah 30.
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Keluar</button>
                    <button type="submit" class="btn btn-primary">Kirim</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container row">
    <h1 class="display-4">Daftar Nama-Nama Buku di Perpustakaan</h1>
    <div class="col">
        <button type="button" class="btn btn-primary col-lg-2 col-sm-12 float-end" data-bs-toggle="modal"
            data-bs-target="#tambahData">Tambah Data</button>
    </div>
    <div>
        <br />
        <table class="table datatable">
            <thead>
                <tr>
                    <th>Judul</th>
                    <th>Jumlah Halaman</th>
                    <th>Penerbit</th>
                    <th class="text-end">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for data in buku %}
                <tr>
                    <td>{{ data.judul }}</td>
                    <td>{{ data.jumlah_halaman }}</td>
                    <td>{{ data.penerbit }}</td>
                    <td class="list-inline text-end">
                        <a href="/buku/edit/{{ data.id }}" class="btn btn-secondary">Edit</a>
                        <a href="/buku/delete/{{ data.id }}" class="btn btn-danger">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Judul</th>
                    <th>Jumlah Halaman</th>
                    <th>Penerbit</th>
                    <th class="text-end">Action</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
{% endblock %}